body{
    background-image: url('background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
form{
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 300px;
}
fieldset{
    font-family: 'Pacifico';
}
#question{
    text-align: right;
    width: 350px;
    color: limegreen;
    background-color: black;
    font-size: 2em;
}
.btn{
    font-family: 'Courier New', Courier, monospace;
    font-weight:bold;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    width: 60px;
    height: 50px;
    font-size: 2em;
    border-radius: 20px;
}
.btn:hover{
    color: white;
    background-color: black;
}
#btndoublezero{
    margin-right: none;
}
#btnrandom{
    position: absolute;
    margin-left: none;
    margin-right: none;
    padding: none;
    width: 80px;
   font-size: .5em;
}
